.sidenavigation {
  width: 220px;
  height: 100%;
  background: #101219; 
  position: relative;
  padding-top: 1rem;
  border-right: 1px solid $border-color;
  transition: all 1s ease-in-out, display 1s ease-in-out;
  overflow-x: hidden;
}

// .sidenavigation-wrapper {
//   width: 100%;
//   height: 100%;
//   display: flex;
//   flex-direction: column;
// }

.sidenavigation-menu {
  padding: $m-size 0 $m-size $l-size;
  display: block;
  color: $white;
  font-weight: bold;
  opacity: .8;
  display: flex;
  align-items: center;
  font-size: 16px;
  gap: 10px;
  transition: all .3s ease-in;
  &:hover {
    background: lighten($background-color-02, 5%);
    text-decoration: none;
    opacity: 1;
  border-right: 4px solid $background-color-03;
  color: white;
  }
}

.sidenavigation-menu-active {
  background: lighten($background-color-02, 7%);
  opacity: 1;
  border-right: 4px solid $background-color-03;
  // transform: translateX(-5px); 
  
}


.sidenavigation.open {
  transform: translateX(0px);
}

.sidenavigation:not(.open) {
  transition: all .4s ease-in;
  transform: translateX(-300px);
  display: none;
}

.bar_side {
  position: relative;
  top: 20px;
  left: 1rem;
  z-index: 1000;
  transition: all .1s ease-in-out;
}

.bar_side.closed {
  left: 1rem;
}

.menu_bar {
  font-size: 25px;
  cursor: pointer;
}


.sidenavigation-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
}