.all_orders_main {
  width: 80%;
  margin: 10px auto;
  margin-top: 6rem;

  @include mobile{
    width: 100%;
    margin-top: 12rem;
  }
}

.text-center {
  text-align: center;
}

.orders {
  margin-top: 2rem;
}

.order {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 2rem;
  padding: 1rem;
}

.order-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // flex-direction: row;
}

.pull-left {
  display: flex;
  flex-direction: column;
}

.info-order-left-text {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.text.info.desc {
  color: #555;
  
}

.pull-right {
  display: flex;
  align-items: center;
}

.order-items {
  margin-top: 1rem;
}

.order-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 1rem;
  border-top: 1px solid #ddd;
}

.item-pic img {
  width: 100px;
}

.item-main {
  flex: 1;
  margin-left: 1rem;
}

.item-main-mini {
  display: flex;
  flex-direction: column;
}

.text.title.item-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.shipping_detail {
  margin-top: 0.5rem;
}

.d-flex {
  display: flex;
  align-items: center;
}

.item-quantity {
  display: flex;
  align-items: center;
}

.item-quantity .text.desc.info.multiply {
  font-weight: bold;
}

.item-status.item-capsule {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.item-status.item-capsule .capsule {
  background-color: #f0f0f0;
  padding: 0.5rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

.clear {
  clear: both;
}

.details {
  margin-top: 1rem;
}

.link {
  color: #007bff;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.cursor-pointer {
  cursor: pointer;
}

.color-circle {
  background-color: var(--color);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 5px;
}

@include mobile {
  .order-info{
    display: flex;
    flex-direction: column;
  }
  .item-pic img {
    width: 50px;
  }
  
}
