.filter-label {
  font-size: 16px; /* Adjust the font size as needed */
}

.filter-input {
  padding: 12px;
  margin-left: 5px;
  font-size: 16px; /* Ensure the input text is the same size */
}

.form-select {
  padding: 10px;
  font-size: 16px; /* Ensure the select text is the same size */
  position: relative;
  z-index: 1; /* Ensure the dropdown is above other content */
}
@include mobile{
  .filter-label{
    width: 100%;
  }
  .size, .keyword{
    width: 50%;
  }

  
}

@include tablet {
  .filter-input{
    padding: 12px;
    margin-left: 5px;
  }
}

